<h2> List Donate </h2>

<table>
			<tr>
				<td>Tanggal Masuk</td>
				<td>Jumlah</td>
				<td colspan="3">Aksi</td>
			

			</tr>

<% @donates.each do |donate| %>
	
		
			<tr>
				<td> <%= time_tag donate.created_at %> </d>
				<td> <%= donate.jumlah %> </td>				
				 <td> <%= link_to "Edit", edit_donate_path(donate) %> </td>				
				<td> <%= link_to "Delete", donate_path(donate), method: :delete, data: {confirm: "Are you sure ?"} %> </td>			
				
				
			</tr>
	
	<% end %>
		</table> <br />
