<h1>MOBILE DONATOR</h1>
<p>Donate everywhere, everytime</p>

<%= link_to "List Donator", donators_path %> <br />
<%= link_to "Donate Here", new_donate_path %> <br />
<%= link_to "See Donate Here", donates_path %>